#tableauGestion {
    margin: 0 auto;
}

#headerGestion {
  margin-bottom: 40px;
}

.button-header {
  margin: 0 25px;
}

#box-item-checkbox {
  border: 1px black solid;
  overflow-y: scroll;
  padding: 25px;
  margin: 0 25px;
}