#tableauGestion {
    margin: 0 auto;
}

#headerGestion {
  margin-bottom: 40px;
}

.bouton-header {
  margin: 0 25px;
}

#box-item-checkbox {
  border: 1px black solid;
  overflow-y: scroll;
  padding: 25px;
  margin: 0 25px;
}

main section {
    background: #35424a;
    padding: 50px 30px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: white;
}