#barre-recherche {
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    margin-top: 35px;
    margin-bottom: 15px;
}

#input-recherche {
    padding: 10px;
    padding-left: 25px;
    margin-right: 10px;
    margin-left: 25px;
}

#page-album {
    background: rgba(0, 0, 0, 0.7);
    padding: 25px;
    padding-top: 0px;
}

#description-album {
    border-right: 1px white solid;
    margin-right: 50px;
    padding-right: 10px;
    margin-top: 25px;
}

#imageAlbum {
    margin: 10px;
    margin-top: 25px;
    border: 1px black solid;
    height: 300px;
}

#liste-musiques {
    margin-top: 25px;
}

#liste-commentaire {
    margin-top: 30px;
}