main section {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 25px;
}

#barre-recherche {
    background: rgba(0, 0, 0, 0.75);
    padding: 20px 0px;
}

.input-recherche {
    padding-left: 25px;
    margin-right: 10px;
}

#description-artiste {
  border-right: 1px white solid;
  margin-right: 50px;
  padding-right: 10px;
  margin-top: 25px;
}

#imageArtiste {
  margin: 10px;
  margin-top: 25px;
  border: 1px black solid;
  height: 300px;
}

#liste-musiques {
  margin-top: 25px;
}
