#page-connexion, #page-inscription, #page-compte-form {
    background: #35424a;
    width: 300px;
    margin-top: 25px;
    padding: 25px;
}

form>.bouton {
    margin-top: 25px;
}

#page-compte {
    margin-top: 150px;
}
