body {
    margin: 0 auto;
    min-width: 1250px;
    font-family: hurme_no2-webfont, sans-serif;
    background: #f2f2f2;
}

main {
    padding: 0px 25px;
}

a { text-decoration: none; color: black; }
li { list-style: none; }

.flex { display: flex; }
.flex-row { flex-direction: row; }
.flex-column { flex-direction:column; }
.flex-center { justify-content: center; }
.flex-arround { justify-content: space-around; }
.flex-between { justify-content: space-between; }

.white { color: white; }
.green { color: green; }
.red { color: red; }
.grey { color: grey; }

.t8 { font-size: 8px;}
.t9 { font-size: 9px;}
.t10 { font-size: 10px;}
.t11 { font-size: 11px;}
.t12 { font-size: 12px;}
.t13 { font-size: 13px;}
.t15 { font-size: 15px;}
.t18 { font-size: 18px;}
.t20 { font-size: 20px;}
.t25 { font-size: 25px;}
.t30 { font-size: 30px;}
.t35 { font-size: 35px;}
.t40 { font-size: 40px;}
.t45 { font-size: 45px;}
.t50 { font-size: 50px;}

.text-center { text-align: center; }

.button1 {
    color: white;
    background: #1b8ee2;
    padding: 10px;
    border: none;
    cursor: pointer
}

.button2 {
    color: white;
    background: #21efe7;
    padding: 10px;
    border: none;
    cursor: pointer
}

.input1 {
    background: white;
    border: none;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 250px;
}