body {
    margin: 0 auto;
    min-width: 1250px;
    font-family: hurme_no2-webfont, sans-serif;
    background: #f2f2f2;
}

main>section {
    width: 80%;
    margin: 0 auto;
}

a { text-decoration: none; color: black; }
li { list-style: none; }

.margin-center { margin: 0 auto; }

.flex { display: flex; }
.flex-row { flex-direction: row; }
.flex-column { flex-direction:column; }
.flex-center { justify-content: center; }
.flex-arround { justify-content: space-around; }
.flex-between { justify-content: space-between; }
.flex-wrap { flex-wrap: wrap; align-content: flex-start; }

.white { color: white; }
.green { color: green; }
.red { color: red; }
.grey { color: grey; }

.t8 { font-size: 8px;}
.t9 { font-size: 9px;}
.t10 { font-size: 10px;}
.t11 { font-size: 11px;}
.t12 { font-size: 12px;}
.t13 { font-size: 13px;}
.t15 { font-size: 15px;}
.t18 { font-size: 18px;}
.t20 { font-size: 20px;}
.t25 { font-size: 25px;}
.t30 { font-size: 30px;}
.t35 { font-size: 35px;}
.t40 { font-size: 40px;}
.t45 { font-size: 45px;}
.t50 { font-size: 50px;}

.text-center { text-align: center; }

.background-black { background: black; }
.background-red { background: red; }
.background-blue { background: blue; }
.background-green { background: green; }
.background-cyan { background: #21efe7; }

.width-50 { width: 50px; }
.width-100 { width: 100px; }
.width-150 { width: 150px; }
.width-200 { width: 200px; }
.width-250 { width: 250px; }
.width-300 { width: 300px; }
.width-350 { width: 350px; }
.width-400 { width: 400px; }
.width-450 { width: 450px; }
.width-500 { width: 500px; }
.width-550 { width: 550px; }
.width-600 { width: 600px; }
.width-650 { width: 650px; }
.width-700 { width: 700px; }
.width-750 { width: 750px; }
.width-800 { width: 800px; }

.table-head {
    color: white;
    background: black;
}

.table-lign:nth-of-type(2n+1) {
    background: #e6e6e6;
}

.button {
    padding: 10px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

.button-blue {
    color: white;
    background: #1b8ee2;
}

.button-cyan {
    color: white;
    background: #004ee2;
}


.button-red {
    color: white;
    background: red;
}

.button-green {
    color: white;
    background: green;
}

.inputButton1 {
    text-align: center;
    margin: 10px auto;
    width: 280px;
    color: white;
    background: #1b8ee2;
    padding: 15px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}

.input-text {
    background: white;
    border: none;
    font-size: 15px;
    text-align: center;
    padding: 15px;
    margin: 10px auto;
    width: 250px;
}

.input-date {
    background: white;
    border: none;
    font-size: 15px;
    text-align: center;
    padding: 15px;
    margin: 10px auto;
}

.input-area {
    background: white;
    border: none;
    font-size: 15px;
    text-align: center;
    padding: 15px;
    margin: 10px;
}

.item-checkbox {
    padding-right: 15px;
}