body {
    margin: 0 auto;
    min-width: 1250px;
    font-family: hurme_no2-webfont, sans-serif;
    background: black url('/images/background.jpg') no-repeat 0 -370px;
    color: white;
}

@media only screen and (max-width: 1280px) {
    body {
        min-width: 800px;
        background-position: 0 -350px;
    }
}

main>section {
    width: 80%;
    margin: 0 auto;
}

a { text-decoration: none; color: white; }
li { list-style: none; }
.click-red1:hover { color: #e8491d; }

.margin-center { margin: 0 auto; }

.flex { display: flex; }
.flex-row { flex-direction: row; }
.flex-column { flex-direction:column; }
.flex-center { justify-content: center; }
.flex-arround { justify-content: space-around; }
.flex-between { justify-content: space-between; }
.flex-wrap { flex-wrap: wrap; align-content: flex-start; }
.item-center { align-items: center; }

.white { color: white; }
.green { color: green; }
.red { color: red; }
.red1 { color:#e8491d; }

.t10 { font-size: 10px;}
.t12 { font-size: 12px;}
.t20 { font-size: 20px;}
.t25 { font-size: 25px;}
.t35 { font-size: 35px;}

.text-center { text-align: center; }
.souligner { text-decoration: underline; }


.width-150 { width: 150px; }
.width-200 { width: 200px; }
.width-250 { width: 250px; }
.width-300 { width: 300px; }
.width-350 { width: 350px; }
.width-500 { width: 500px; }
.width-600 { width: 600px; }
.width-700 { width: 700px; }
.width-800 { width: 800px; }

#page-accueil, #page-artiste, #page-album, 
#page-groupe, #page-musique, #page-resultat-recherche,
#page-404 {
    background: rgba(0, 0, 0, 0.7);
    padding: 0 25px 25px;
}

.table-head {
    color: white;
    background: black;
}

.table-lign:nth-of-type(2n) {
    background: #4e616c;
}
.table-lign:nth-of-type(2n+1) {
    background: #617987;
}

td {
    padding-left: 15px;
}

.bouton {
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

.bouton-forme1 {
    padding: 10px;
}

.bouton-forme2 {
    margin: 10px;
    font-size: 12px;
    padding: 3px 10px;
}

.bouton-bleu {
    color: white;
    background: #1b8ee2;
}

.bouton-cyan {
    color: white;
    background: #004ee2;
}


.bouton-red {
    color: white;
    background: red;
}

.bouton-red1 {
    color: white;
    background: #e8491d;
}

.bouton-green {
    color: white;
    background: green;
}

.inputButton1 {
    text-align: center;
    margin: 10px auto;
    width: 280px;
    color: white;
    background: #1b8ee2;
    padding: 15px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}

.input-text {
    background: white;
    border: none;
    font-size: 15px;
    text-align: center;
    padding: 15px;
    margin: 10px auto;
    width: 250px;
}

.input-number {
    background: white;
    border: none;
    font-size: 15px;
    text-align: center;
    padding: 15px;
    margin: 10px auto;
    width: 100px;
}

.input-date {
    background: white;
    border: none;
    font-size: 15px;
    text-align: center;
    padding: 15px;
    margin: 10px auto;
}

.input-area {
    background: white;
    border: none;
    font-size: 15px;
    text-align: center;
    padding: 15px;
    margin: 10px;
}

.item-checkbox {
    padding-right: 15px;
}
