footer {
    position: fixed;
    width: 100%;
    padding: 10px 0px;
    bottom: 0;
    left: 0;
    color: white;
    background: #35424a;
    border-top: 1px #e8491d solid;
}

body {
    margin-bottom: 55px;
}