footer {
    position: fixed;
    width: 100%;
    padding: 5px 0;
    bottom: 0;
    left: 0;
    color: white;
    background: #e8491d;
    /* border-top: 1px #e8491d solid; */
}

body {
    margin-bottom: 55px;
}