#page-groupe {
    background: rgba(0, 0, 0, 0.7);
    padding: 0 25px 25px;
}

#description-groupe {
    margin-right: 50px;
    padding-right: 10px;
    margin-top: 25px;
}

#imageGroupe {
    background-color: white;
    margin: 25px 10px 10px;
    border: 1px black solid;
    max-width: 400px;
    max-height: 400px;
}

@media only screen and (max-width: 1280px) {
    #imageArtiste {
        max-width: 200px;
        max-height: 200px;
    }
}

#liste-musiques {
    margin-top: 25px;
}

